.header {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.link {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100ch;
}
